/* Pastda to'liq ekranni egallovchi wrapper */
.enroll-full {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 9999;
  padding: 0 16px; /* ichkariga ozgina bo'sh joy */
  pointer-events: none; /* faqat ichki box klik bo'lsin */
}
body{
    font-family: 'Merriweather_120pt';
}
/* Animatsiya bo'ladigan box */
.enroll-full-box {
  pointer-events: auto;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  backdrop-filter: blur(20px);
  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.08);
  /* box-shadow kerak emas deding, shuning uchun yo'q */

  padding: 10px 16px;
}

/* Ichkaridagi tugma (to'liq boxni bosiladigan qilamiz) */
.enroll-full-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
    font-family: "DMSans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
.enrollAllDiv{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  padding: 10px 21px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

/* Telegram icon */
.enroll-full-icon {
  font-size: 20px;
}

.enroll-logo {
  width: 120px;
  height: 60px;
  object-fit: contain;
  margin-right: 6px;
  filter: brightness(0) invert(1); /* logo oq bo‘lib chiqishi uchun */
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .enroll-full {
    bottom: 10px;
    padding: 0 10px;
  }

  .enroll-full-box {
    margin-bottom: 30px;
    border-radius: 14px;
    padding: 12px 12px;
  }
  .enroll-logo {
    width: 90px;
    height: 60px;
  }
}
