/* Canvas fon konteyneri */
.floating-lines-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  pointer-events: none;
  background: #000000;    /* qora fon */
  opacity: 0.45;          /* yorug'likni kamaytirish */
}


/* iOS / mobil uchun qo'shimcha barqarorlik */
@media (max-width: 768px) {
  .floating-lines-container {
    position: fixed;
    inset: 0;
  }
}
