.hero {
  position: relative;
  /* 1) Avval oddiy fallback */
  min-height: 100vh;
  /* 2) Mobil uchun sakramaydigan birlik */
  min-height: 100svh;

  padding: 0px 40px 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  margin-top: -50px;
}

.hero-content {
  width: 100%;
  max-width: 1150px;
}

.hero-title {
  font-size: clamp(32px, 7vw, 74px);
  line-height: 1.12;
  font-weight: 700;
  max-width: 900px;
}

.hero-dynamic-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

.hero-dynamic-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
}

.hero-dynamic-word {
  display: inline-block;
  color: #3b82f6;
  font-weight: 700;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    padding: 100px 20px 0px;
    align-items: flex-start;
    margin-top: 0;
  }

  .hero-title {
    font-size: clamp(26px, 9vw, 42px);
  }
}
