.hero {
  position: relative;
  min-height: 100vh;
  padding: 10px 40px 10px;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Static, scrollda harakat qilmaydigan fon */
.hero-bg {
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/bg-dark.jpg"); /* o'zingni rasm yo'ling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Katta title */
.hero-title {
  font-size: 64px;
  line-height: 1.12;
  font-weight: 700;
  max-width: 800px;
}

/* Dinamik so'z + underline */
.hero-dynamic-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.hero-dynamic-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #fff; /* pastdagi kulrang chiziq */
}

.hero-dynamic-word {
  display: inline-block;
  color: #9aff4f;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    padding: 10px 20px 10px;
  }

  .hero-title {
    font-size: 36px;
  }
}
