.hero {
  position: relative;
  min-height: 100vh;
  padding: 80px 40px 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

/* HECH QANDAY .hero-bg ENDIIII YO‘Q, UNI O‘CHIRAMIZ */

.hero-content {
  width: 100%;
  max-width: 1150px;
}

.hero-title {
  font-size: clamp(32px, 7vw, 74px);
  line-height: 1.12;
  font-weight: 700;
  max-width: 900px;
}

.hero-dynamic-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

.hero-dynamic-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
}

.hero-dynamic-word {
  display: inline-block;
  color: #9aff4f;
  font-weight: 700;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    padding:60px 20px 0px;
    align-items: flex-start;
  }

  .hero-title {
    font-size: clamp(26px, 9vw, 42px);
    line-height: 1.18;
  }
}

@media (max-width: 768px) {
  body {
    background-size: contain;   /* kesmaydi, lekin yonlarda bo'sh joy bo'lishi mumkin */
    background-position: top center;
    background-color: #000;     /* bo'sh joylar qora bo'lsin */
  }
}

