.hero {
  position: relative;
  min-height: 100vh;
  padding: 80px 40px 40px; /* tepada navbar uchun joy */
  color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Fixed, scrollda joyidan qimirlamaydigan fon */
.hero-bg {
  position: fixed;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;

  /* COVER O'RNIGA STABIL O'LCHAM – ZOOM QILMAYDI */
  background-size: 130% auto;

  z-index: -1;
  pointer-events: none;
}

/* Telefonda fon yanada barqaror ko'rinishi uchun */
@media (max-width: 768px) {
  .hero-bg {
    background-size: 200% auto;
  }
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Katta title */
.hero-title {
  font-size: 64px;
  line-height: 1.12;
  font-weight: 700;
  max-width: 800px;
}

/* Dinamik so'z + chiziq */
.hero-dynamic-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.hero-dynamic-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #ffffff;
}

.hero-dynamic-word {
  display: inline-block;
  color: #9aff4f;
}

/* RESPONSIVE – MOBILE */
@media (max-width: 768px) {
  .hero {
    padding: 40px 20px 0px;
    align-items: flex-start;
    margin-bottom: -30px;
  }

  .hero-title {
    font-size: 34px;
    line-height: 1.18;
    max-width: 100%;
  }
}
