*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Merriweather_120pt';
  src: url('./assets/static/Merriweather_120pt-Regular.ttf');
  font-weight: 400;
}

body{
  font-family: 'Merriweather_120pt';
}