body {
  margin: 0;
  background-image: url("./assets/bg-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  font-family: 'Merriweather_120pt';
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: center top;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Merriweather_120pt';
  src: url('./assets/static/Merriweather_120pt-Regular.ttf');
  font-weight: 400;
}

