* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Yangi shrift – DMSans */
@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Agar bold, medium versiyalari bo'lsa, yana 2–3 ta @font-face qo‘shib ketasiz */

/* Global font */
body {
  margin: 0;
  background-color: #000;
  font-family: "DMSans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* Form elementlar ham shu fontni olsin */
button,
input,
textarea,
select {
  font-family: inherit;
}
